<h1>Welcome to VET Surgeon!</h1>
<p>Welcome to our new application from Media Interactiva, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've some indications to help you:</p>
<ul>
  <li><strong>Home</strong>. Current page where you can have an overview about the application.</li>
  <li><strong>Employees</strong>. In the Employees section we have a list of registered employees that want to use the vet application.</li>
  <li><strong>Pets</strong>. In the Employees section we have a list of registered pets owned by our employees that want to use the vet application.</li>
</ul>
<p>Developed by <code>Rafael Carbonell García</code> as part of a technical test for Media Interactiva.</p>
